name: CI

on:
  push:
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Ruff
        run: uv run ruff check .

      - name: Run ty
        run: uv run ty check

      - name: Build package
        run: uv build

  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --dev

      - name: Run pytest
        run: |
          uv run pytest \
          --junitxml=test-results.xml \
          --cov=src \
          --cov=tests \
          --cov-report=html:htmlcov \
          --cov-report=xml \
          --cov-report=term-missing \
          --tb=short \
          -v

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6
        with:
            name: test-results
            path: |
                test-results.xml
                htmlcov/
                .coverage

      - name: Publish pytest report
        if: always() && hashFiles('test-results.xml') != ''
        uses: dorny/test-reporter@v2
        with:
          name: Pytest Results
          path: test-results.xml
          reporter: java-junit
          list-tests: 'failed'
          list-suites: 'failed'
